/* Coolors Exported Palette - coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

// SPACE CADET
$primary-color: rgba(29, 53, 87, 1);

// LIGHT BLUE
$secondary-color: rgba(168, 218, 220, 1);

// DESIRE
$accent-color: rgba(230, 57, 70, 1);
